.center-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .login-box {
    width: 400px; /* Set the width of the card */
    height: 500px; /* Set the height of the card */
    border: 1px solid #f46404; /* Set border properties */
    border-radius: 5px; /* Optionally add border radius for rounded corners */
    padding: 20px; /* Optionally add padding inside the box */
    box-shadow: 1px 4px 8px rgba(234, 115, 30, 0.1); /* Optionally add box shadow */
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .logo {
    padding: 2px 0px;
    width: 60px;
    height: 60px;
  }
  .login-title{
    font-size: 20px;
    font-weight: 600;
    color: #f46404;
    text-align: center;
    padding-bottom: 20px;
  }
  .example-full-width{
    width: 300px;
  }