<div class="chat-container">
    <div class="chat-message">{{ currentQuestion }}</div>
    <ng-container *ngIf="currentQuestionType === 'Code Snippet Questions'; else submitButton">
        <div class="input-container">
            <textarea [(ngModel)]="userInput" class="chat-input" rows="5"></textarea>
            <button (click)="sendMessage()" class="send-button">Send</button>
        </div>
    </ng-container>
    <ng-template #submitButton>
        <div class="timer">Time Remaining: {{ formatTime(remainingTime) }}</div>
        <button (click)="sendMessage()" class="submit-button">Submit Answer</button>
    </ng-template>
  </div>
  