<mat-card-header style="background-color: whitesmoke;
margin-bottom: 10px;">
  <div class="header-content" style="display: flex; justify-content: flex-end;">
    <div class="title-container">
      <mat-card-title>Admin Dashboard</mat-card-title>
      <mat-card-subtitle>Powered by - AvaScreen</mat-card-subtitle>
    </div>
  </div>
</mat-card-header>
<mat-card-content>
  <nav mat-tab-nav-bar>

    <a mat-tab-link routerLink="/admin/dashboard" routerLinkActive #dashboardTab="routerLinkActive"
      [active]="dashboardTab.isActive">
      <span class="material-icons">
        dashboard
      </span>
      Dashboard
    </a>
    <a mat-tab-link routerLink="/admin/requisition" routerLinkActive #requisitionTab="routerLinkActive"
      [active]="requisitionTab.isActive"><span class="material-icons">
        work_outline
      </span>Requisition</a>

    <a mat-tab-link routerLink="/admin/schedule" routerLinkActive #scheduleTab="routerLinkActive"
      [active]="scheduleTab.isActive">
      <span class="material-icons">
        schedule
      </span>
      Schedule</a>

  </nav>

  <router-outlet></router-outlet>
</mat-card-content>